<div class="background-img">

  <div class="form">

    <div class="form-title">
      <h1>Create a flight</h1>
    </div>

    <div class="form-table">
      <%= simple_form_for @flight do |f| %>
        <%= f.input :destination %>
        <%= f.input :departure %>
        <%= f.input :description %>
        <%= f.association :rocket, collection: current_user.rockets, label_method: :model, include_blank: false %>
        <%= f.input :date , as: :date, html5: true %>
        <%= f.button :submit, class: 'btn-form' %>
      <% end %>
    </div>

  </div>
</div>
