<div class="background-img" style="  background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url('https://images.unsplash.com/photo-1465788786008-f75a725b34e9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e088ec671a9d481a27a8b2c8b7c07d82&auto=format&fit=crop&w=1050&q=80');">

  <div class="form">

    <div class="form-title">
      <h1>Create a flight</h1>
    </div>

    <div class="form-table">
      <%= simple_form_for @flight do |f| %>
        <%= f.input :destination %>
        <%= f.input :departure %>
        <%= f.input :description %>
        <%= f.association :rocket, collection: current_user.rockets, label_method: :model, include_blank: false %>
        <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.button :submit, class: 'btn-form' %>
      <% end %>
    </div>

  </div>
</div>

<!-- USED TO HAVE html5: true WITHIN f.INPUT : DATE -->
