<h1>Flight details</h1>

<h2><%= @flight.description %></h2>
<h2> <%= @flight.date %> </h2>
<h2> <%= @flight.departure  %> </h2>
<h2> <%= @flight.destination %> </h2>

<%= link_to "Book this flight!", new_flight_booking_path(@flight), class: 'btn btn-primary' %>

