<div class="medium-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url('https://source.unsplash.com/featured/?outerspace');">
  <div class="banner-content">
    <h1>Your flight details</h1>
  </div>
</div>

<div class="container">

  <div class="message">
    <div class="message-name">
      <h2><%= @flight.date %></h2>
      <p>Date</p>
    </div>
    <div class="message-body">
      <h2>From: <%= @flight.departure %> - To: <%= @flight.destination %></h2>
      <p><%= @flight.description %></p>
    </div>
    <div class="message-status">
     <%= link_to "Book this flight!", new_flight_booking_path(@flight), class: 'btn btn-success' %>
    </div>
  </div>
</div>



