<div class="medium-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url('https://source.unsplash.com/featured/?outerspace');">
  <div class="banner-content">
    <h1>Your flight details</h1>
  </div>
</div>


<div class="container">
      <div class="profile text-center">
        <div class="main">
          <div class="main-content">
             <%= cl_image_tag @flight.rocket.user.photo, height: 100, width: 110, crop: :thumb, gravity: :face, class: "img-circle", alt: "no profile_pic" %>
            <h2> <strong> <%= @flight.rocket.user.name %></strong></h2>
            <p>Stardriver</p>
            <strong>More about <%= link_to @flight.rocket.user.name, @flight.rocket.user %></strong>
            <%= link_to "Book this now", new_flight_booking_path(@flight), class: 'bills-book-button-flight' %>
          </div>
        </div>
        <div class="stat">
          <h2><strong><%= @flight.date.strftime('%a %e %b %Y') %></strong>
          <h2><em>From:</em> <strong><%= @flight.departure %></strong><em> To:</em> <strong><%= @flight.destination %></strong></h2>
        </div>
        <div class="description">
          <div class="description-content">
            <h3><strong>More About this flight</strong></h3>
            <p>With the <strong><%= @flight.rocket.name %></strong> a <%= @flight.rocket.model %></p>
            <p class="text-justify">
              <%=@flight.description %> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, molestias, cum, veritatis facere incidunt eaque quisquam rerum nulla temporibus aliquid architecto debitis eius fugit quos voluptates aut repellat fuga autem!
            </p>
            <%= cl_image_tag("#{@flight.rocket.photo}", crop: :fill, class: "profile-rocket-avatar") %>
            <h3></h3>
          </div>
        </div>
      </div>
    </div>
