<div class="medium-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url('https://source.unsplash.com/featured/?outerspace');">
  <div class="banner-content">
    <h1>Your flight details</h1>
  </div>
</div>


<div class="container">
      <div class="profile text-center">
        <div class="main">
          <div class="main-content">
            <h2><%= @flight.rocket.user.name %></h2>
            <p>Stardriver</p>
            <a href="#" class="btn btn-danger btn-lg">Book this now</a>
          </div>
        </div>
        <div class="stat">
         <h2> Date: <%= @flight.date %> </h2>
          <h2>From: <%= @flight.departure %> - To: <%= @flight.destination %></h2>
          </div>
        <div class="description">
          <div class="description-content">
            <h3>More about <%= @flight.rocket.user.name %></h3>
            <p class="text-justify">
              <%=@flight.rocket.user.bio %>
            </p>
          </div>
        </div>
      </div>
    </div>


<div class="container">

  <div class="message">
    <div class="message-name">
      <h2><%= @flight.date %></h2>
      <p>Date</p>
    </div>
    <div class="message-body">
      <h2>From: <%= @flight.departure %> - To: <%= @flight.destination %></h2>
      <p><%= @flight.description %></p>
    </div>
    <div class="message-status">
     <%= link_to "Book this flight", new_flight_booking_path(@flight), class: 'btn btn-success' %>
    </div>
  </div>
</div>
