<div class="medium-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1503751071777-d2918b21bbd9?ixlib=rb-0.3.5&s=cf09e49d47f6513c52cff126d013d2a8&auto=format&fit=crop&w=1050&q=80');">
  <div class="banner-content">
    <h1>Your next bookings</h1>
  </div>
</div>


<div class="container">
  <div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#traveler" aria-controls="traveler" role="tab" data-toggle="tab">Traveler</a></li>
      <% if current_user.rockets %>
      <li role="presentation"><a href="#pilot" aria-controls="pilot" role="tab" data-toggle="tab">Pilot</a></li>
      <% end %>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="traveler">
        <% @bookings.each do |booking| %>
          <div class="message">
            <div class="message-name">
              <h2>Departure date</h2>
              <h3><%= booking.flight.date.strftime('%a %e %b %Y') %></h3>
            </div>
            <div class="message-body">
              <h2>🛫 <%= booking.flight.departure %></h2>
              <h2>🛬 <%= booking.flight.destination %></h2>
              <p>Booking reference: <%= booking.id %></p>
            </div>
            <div class="message-body">
              <h2>🚀 : <%= booking.flight.rocket.name %></h2>
              <p>Model: <%= booking.flight.rocket.model %></p>
              <h3>Pilot: <%= booking.flight.rocket.user.name %></h3>

            </div>
            <div class="message-status">
              <div class="grid-btns">
                <h3 class="status"><%= booking.status %></h3>
                <div class="btn-cancels">
                  <%= link_to "Cancel", flight_booking_path(booking.flight, booking), method: :delete, remote: true, class: 'btn btn-danger' %>
                </div>
                <div class="btn-details">
                  <%= link_to "See details", booking_path(booking), class: 'btn btn-primary' %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <% if current_user.rockets %>
      <div role="tabpanel" class="tab-pane" id="pilot">
          <% @mepilot.each do |booking| %>
            <% if booking.flight.rocket.user.id == current_user.id && booking.status != "Denied"%>
              <div class="message">
                <div class="message-name">
                  <h2><%= booking.flight.date %></h2>
                  <p>Date</p>
                </div>
                <div class="message-body">
                  <h2>From: <%= booking.flight.departure %> - To: <%= booking.flight.destination %></h2>
                  <p>Booking number: <%= booking.id %></p>
                </div>
                <div class="message-status">
                  <p class="status"><%= booking.status %></p>
                  <% if booking.status == "Accepted" %>
                    <%= link_to 'Cancel passenger', refuses_path(booking), method: :patch, class: 'btn btn-warning' %>
                  <% else %>
                  <%= link_to 'Accept', validates_path(booking), method: :patch, class: 'btn btn-success' %>
                  <%= link_to 'Refuse', refuses_path(booking), method: :patch, class: 'btn btn-warning' %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
      </div>
      <% end %>
    </div>

  </div>
</div>
