<div class="medium-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1517976547714-720226b864c1?ixlib=rb-0.3.5&s=44ef7f198828fa8005ef23032926c29d&auto=format&fit=crop&w=1050&q=80');">
  <div class="banner-content">
    <h1>Your next bookings</h1>
  </div>
</div>

<div class="container">
  <div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#traveler" aria-controls="traveler" role="tab" data-toggle="tab">Traveler</a></li>
      <li role="presentation"><a href="#pilot" aria-controls="pilot" role="tab" data-toggle="tab">Pilot</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="traveler">
          <% @bookings.each do |booking| %>
            <div class="message">
              <div class="message-name">
                <h3>Date</h3>
                <p><%= booking.flight.date %></p>
              </div>
              <div class="message-body">
                <h3>Destination</h3>
                <p><%= booking.id %> - flying to <%= booking.flight.destination %></p>
              </div>
              <div class="message-status">
                <p class="status"><%= booking.status %></p>
                <%= link_to "Delete", flight_booking_path(booking.flight, booking), method: :delete, class: 'btn btn-danger', data: {confirm: "are you sure you want to delete this booking?"} %>
              </div>
            </div>
          <% end %>
      </div>
      <div role="tabpanel" class="tab-pane" id="pilot">
          <% @bookings.each do |booking| %>
            <% if booking.flight.rocket.user_id == current_user.id %>
              <div class="message">
                <div class="message-name">
                  <h3>Date</h3>
                  <p><%= booking.flight.date %></p>
                </div>
                <div class="message-body">
                  <h3>Destination</h3>
                  <p><%= booking.id %> - flying to <%= booking.flight.destination %></p>
                </div>
                <div class="message-status">
                  <p class="status"><%= booking.status %></p>
                  <%= link_to 'Accept passenger', flight_booking_path(booking.flight, booking), method: :patch, class: 'btn btn-primary' %>
                </div>
              </div>
            <% end %>
          <% end %>
      </div>
    </div>

  </div>
</div>
