<div class="medium-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1503751071777-d2918b21bbd9?ixlib=rb-0.3.5&s=cf09e49d47f6513c52cff126d013d2a8&auto=format&fit=crop&w=1050&q=80');">
  <div class="banner-content">
    <h1>Your next bookings</h1>
  </div>
</div>


<div class="container">
  <div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#traveler" aria-controls="traveler" role="tab" data-toggle="tab">Traveler</a></li>
      <li role="presentation"><a href="#pilot" aria-controls="pilot" role="tab" data-toggle="tab">Pilot</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="traveler">
          <% @bookings.each do |booking| %>
            <div class="message">
              <div class="message-name">
                <h2><%= booking.flight.date %></h2>
                <p>Date</p>
              </div>
              <div class="message-body">
                <h2>From: <%= booking.flight.departure %> - To: <%= booking.flight.destination %></h2>
                <p>Booking number: <%= booking.id %></p>
              </div>
              <div class="message-status">
                <p class="status"><%= booking.status %></p>
                <%= link_to "Cancel", flight_booking_path(booking.flight, booking), method: :delete, class: 'btn btn-danger', data: {confirm: "are you sure you want to delete this booking?"} %>
              </div>
            </div>
          <% end %>
      </div>
      <div role="tabpanel" class="tab-pane" id="pilot">
          <% @bookings.each do |booking| %>
            <% if booking.flight.rocket.user_id == current_user.id %>
              <div class="message">
                <div class="message-name">
                  <h2><%= booking.flight.date %>Date</h2>
                  <p>Date</p>
                </div>
                <div class="message-body">
                  <h2>From: <%= booking.flight.departure %> - To: <%= booking.flight.destination %></h2>
                  <p>Booking number: <%= booking.id %></p>
                </div>
                <div class="message-status">
                  <p class="status"><%= booking.status %></p>
                  <%= link_to 'Accept passenger', validates_path(booking), method: :patch, class: 'btn btn-success' %>
                </div>
              </div>
            <% end %>
          <% end %>
      </div>
    </div>

  </div>
</div>
