<div class="background-img" style="  background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url('https://images.unsplash.com/photo-1522760122564-d567dac67f45?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=72db790ed87aa5e39abbb4e336e42284&auto=format&fit=crop&w=975&q=80');">

  <div class="form">

    <div class="form-title">
      <h1>Confirm your booking</h1>
    </div>

    <div class="form-subtitle" data-booking-id="1">
      <p>Flight Date: <%= @flight.date %></p>
      <p>Departing from: <%= @flight.departure %></p>
      <p>Arriving in: <%= @flight.destination %></p>
      <p>Rocket type: <%= @flight.rocket.model %></p>
      <p>Number of passengers: <%= @flight.rocket.capacity %></p>
      <!-- <p>Pilot: </p> -->
      <p>Additional details: <%= @flight.description %></p>
    </div>

    <div class="form-table">
        <%= simple_form_for [@flight, @booking], remote: true do |f| %>
          <%= f.input :comments %>
          <%= f.button :submit, class: 'btn-form' %>
      <% end %>
    </div>
  </div>
</div>
