<h3>I'm the king, I'm <%= current_user.name %></h3>
<div>
  <%= cl_image_tag current_user.photo, class: "avatar dropdown-toggle" %>
  <p>Name: <%= current_user.name %></p>
  <p>Bio: <%= current_user.bio %></p>
  <p>Email: <%= current_user.email %></p>
  <p>Rockets:
    <% unless current_user.rockets %>
      You don't have a rocket yet. <%= link_to "Add one", new_rocket_path %>
    <% end %>
    <ul>
      <% current_user.rockets.each do |rocket| %>
        <li>Model : <%= rocket.model %>, with <%= rocket.capacity %> sits.
          <% if policy(Rocket).destroy? %>
            <%= link_to "Delete", rocket_path(rocket)  , method: :delete, data: {confirm: "are you sure you want to delete this rocket? This will destroy all the flights you planned with it aswell"} %>
          <% end %>
          <% if policy(Rocket).update? %>
            <%= link_to "Modify", edit_rocket_path(current_user, rocket) %>
          <% end %>
            </li>
      <% end %>
    </ul>
</div>
<div>
  <% if policy(Rocket).create? %>
    <%= link_to "add a rocket", new_rocket_path %>
  <% end %>
  <%= link_to "edit my info", edit_user_registration_path %>

</div>
