<h3>I'm the king, I'm <%= current_user.name %></h3>
<div>
  <%= cl_image_tag current_user.photo, class: "avatar dropdown-toggle" %>
  <p>Name: <%= current_user.name %></p>
  <p>Bio: <%= current_user.bio %></p>
  <p>Email: <%= current_user.email %></p>
  <p>Rocket:
    <ul>
      <% current_user.rockets.each do |rocket| %>
        <li>Model : <%= rocket.model %>, with <%= rocket.capacity %> sits. <%= link_to "Delete", rocket_path(rocket)  , method: :delete, data: {confirm: "are you sure you want to delete this rocket? This will destroy all the flights you planned with it aswell"} %></li>
      <% end %>
    </ul>
</div>
<div>
  <%= link_to "edit my info", edit_user_registration_path %>
  <%= link_to "add a rocket", new_rocket_path %>
</div>
