<div class="medium-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url(user.photo);">
  <div class="banner-content">
    <h3>Hello <%= current_user.name %>!</h3>
    <h4>Here are all your informations</h4>
  </div>
</div>

<div class="col-xs-12 col-sm-6">
  <%= cl_image_tag current_user.photo, class: "avatar dropdown-toggle" %>
  <p>Name: <%= current_user.name %></p>
  <p>Bio: <%= current_user.bio %></p>
  <p>Email: <%= current_user.email %></p>
  <p>Rockets:
    <% unless current_user.rockets %>
      You don't have a rocket yet. <%= link_to "Add one", new_rocket_path %>
    <% end %>
    <ul>
      <% current_user.rockets.each do |rocket| %>
        <li><%= rocket.display_info %>
          <% if policy(rocket).destroy? %>
            <%= link_to "Delete", rocket_path(rocket)  , method: :delete, data: {confirm: "are you sure you want to delete this rocket? This will destroy all the flights you planned with it aswell"} %>
          <% end %>
          <% if policy(rocket).update? %>
            <%= link_to "Modify", edit_rocket_path(rocket) %>
          <% end %>
            </li>
      <% end %>
    </ul>
</div>
<div class="col-xs-12 col-sm-6">
  <% if policy(Rocket).create? %>
    <%= link_to "add a rocket", new_rocket_path %>
  <% end %>
  <%= link_to "edit my info", edit_user_registration_path %>
</div>
