<div class="background-img">

  <div class="form">

    <div class="form-title">
      <h1>Create a big fu**ing rocket</h1>
    </div>

    <div class="form-table">
      <%= simple_form_for [@rocket] do |f| %>
        <%= f.input :model, :collection => Rocket::ROCKETS, include_blank: false %>
        <%= f.input :name %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.button :submit, class: 'btn-form' %>
      <% end %>
    </div>
  </div>
</div>
