<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.1) 0%, rgba(0,36,61,0.1) 20%), url(https://images.unsplash.com/photo-1462332420958-a05d1e002413?ixlib=rb-0.3.5&s=ccf4da3008d853bf39f0642481306991&auto=format&fit=crop&w=1040&q=80);">
    <div class="banner-content">
      <h1 class="title">Stardriver</h1>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
      <h2 class="ml3">To infinity and beyond</h2>
          <%= form_tag(flights_path, method: :get) do |f| %>
            <%= text_field_tag(:search, params[:search], placeholder: "Where do you want to go?", class: "input") %>
          <% end %>
    </div>
</div>
<div class="container">
  <h1 class="title">New flights</h1>
  <div class="content">
    <div class="row">
      <% @flights.each do |flight| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.1) 0%, rgba(0,36,61,0.3) 50%), url('https://images.unsplash.com/photo-1516632577621-74b63065a2bb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=05f132b916f3b2073b66833c5dbcf72c&auto=format&fit=crop&w=634&q=80');">
            <div class="card-category"> 🚀 ROCKET MODEL: <%= flight.rocket.model %> </div>
            <div class="card-description">
              <ul>
                <li><h4>🛫 From <%= flight.departure %> </h4></li>
                <li><h4>🛬 To <%= flight.destination %>  </h4></li>
              </ul>
            </div>
            <%= cl_image_tag(flight.rocket.photo, gravity: "faces", crop: "fill" , width: 40, height: 40, class: "card-user") %>
            <a class="card-link" href="/flights/<%= flight.id %>" ></a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
