<div class="background-img">

  <div class="form">

    <div class="form-title">
      <h1>Create a flight</h1>
    </div>

    <div class="form-table" data-rocket-id="2">
      <%= simple_form_for [@rocket, @flight] do |f| %>
        <%= f.input :destination %>
        <%= f.input :departure %>
        <%= f.input :description %>
        <%= f.input :date , as: :date, html5: true %>
        <%= f.button :submit, class: 'btn-form' %>
      <% end %>
    </div>

  </div>
</div>
