<div class="background-img">

  <div class="form">

    <div class="form-title">
      <h1>Create a flight</h1>
    </div>

    <div class="form-table">
      <%= simple_form_for [@rocket, @flight] do |f| %>
        <%= f.input :destination %>
        <%= f.input :departure %>
        <%= f.input :description %>
        <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.button :submit, class: 'btn-form' %>
      <% end %>
    </div>

  </div>
</div>
